@charset "utf-8";

@import "vars";
@import "other/reset";
@import "other/old-browser";
@import "other/mixins";
@import "typography";
@import "vendors";
@import "elements/nav";
@import "elements/footer";
@import "pages/login-register";
@import "sections/section-hero";
@import "sections/section-features";
@import "sections/section-partners";
@import "sections/section-bestsellers";
@import "sections/section-about";
@import "core";


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
